<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Contagiados Covid</mat-card-title>
                    <mat-card-subtitle>Rankng genero</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div class="chart">
                        <canvas baseChart
                            [data]="pieChartData"
                            [labels]="pieChartLabels"
                            [chartType]="pieChartType"
                            [options]="pieChartOptions"
                            [colors]="pieChartColors"
                            [legend]="pieChartLegend"
                            *ngIf="pieChartData">
                        </canvas>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-6">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Contagiados Covid</mat-card-title>
                    <mat-card-subtitle>Rankng por edad</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div style="display: block">
                        <canvas baseChart
                        [datasets]="barChartData"
                        [labels]="barChartLabels"
                        [options]="barChartOptions"
                        [legend]="barChartLegend"
                        [chartType]="barChartType">
                        </canvas>
                </div>
              </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>

  
  
